keyring==21.4.0
importlib_metadata==2.0.0
Cython==0.29.21
numpy==1.19.2
cryptography==3.1.1
tornado==6.0.4
async_generator==1.10
pytest==0.0.0
ujson==4.0.1
brotlipy==0.7.0
Jinja2==2.11.2
Pygments==2.7.2
Babel==2.8.1
lxml==4.6.1
zipp==3.4.0
itsdangerous==1.1.0
aiocontextvars==0.2.2
aiofiles==0.7.0
aiomysql==0.0.21
aiosqlite==0.17.0
async_exit_stack==1.0.1
asyncpg==0.23.0
Beaker==1.11.0
brotli==1.0.9
cdecimal==2.3
contextvars==2.4
cx_Oracle==8.2.1
email_validator==1.1.2
graphene==2.1.8
gunicorn==20.1.0
httptools==0.2.0
hypothesis==6.13.14
ipython==7.24.1
lingua==4.14
lockfile==0.12.2
monotonic==1.6
multipart==0.2.4
mx==3.2
ordereddict==1.1
orjson==3.5.3
PasteScript==3.2.1
pgdb==0.0.8
protobuf==3.17.2
pyOpenSSL==20.0.1
pysqlcipher3==1.0.4
pysqlite==2.8.3
pytest_xdist==2.2.1
PyYAML==5.4.1
simplejson==3.17.2
Sybase==0.35
watchgod==0.7
wincertstore==0.2.1
wsproto==1.0.0
